# Backend
node_modules/
.env
*.log
dist/
build/

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/.expo-shared/
mobile/dist/
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local
